.about-us {
  .section-one {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 80px;
    padding: 20px;
    background: rgb(142, 142, 145);
    background: linear-gradient(
      90deg,
      rgba(142, 142, 145, 1) 47%,
      rgba(255, 255, 255, 1) 71%
    );
    @media only screen and (min-width: 1400px) {
      gap: 25px;
      padding: 40px;
    }
    img {
      width: -webkit-fill-available;
      border-radius: 15%;
      animation: pulse 3s infinite;
      @media only screen and (max-width: 567px) {
        height: 220px;
      }
      @media only screen and (max-width: 1024px) {
        margin: 0 5%;
        max-height: 500px;
      }

      @media only screen and (min-width: 1024px) and (max-width: 1399px) {
        margin: 0 10%;
      }

      @media only screen and (min-width: 1400px) {
        width: 46%;
        height: 450px;
        border-radius: 30%;
        margin: 0;
      }
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.05);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    .description {
      font-size: 22px;
      padding: 10px 20px;
      @media only screen and (max-width: 1024px) {
        font-size: 18px;
      }
      @media only screen and (min-width: 1400px) {
        width: 50%;
      }

      h1 {
        font-weight: 700;
        text-align: center;
        padding: 0 20px;
      }
    }
  }

  .section-two {
    margin-top: 80px;
    h1 {
      text-align: center;
      font-weight: 700;
      margin-bottom: 50px;
    }
    .cards-wrapper {
      > img {
        height: 380px;
        width: 400px;
        border-radius: 5px;
        opacity: 0;
        transition: opacity 3s ease-out, transform 3s ease-out;
        @media only screen and (max-width: 410px) {
          height: 340px;
          width: 360px;
          padding: 10px;
        }
      }
    }
    .cards-wrapper,
    .images-wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      flex-wrap: wrap;
      gap: 40px;
    }
    .images-wrapper {
      margin-bottom: 40px;
      .quality-card {
        height: 380px;
        width: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        border: 1px solid gray;
        border-radius: 5px;
        border-bottom-color: black;
        border-bottom-width: 5px;
        padding: 20px 10px;
        opacity: 0;
        transition: opacity 3s ease-out, transform 3s ease-out;
        @media only screen and (max-width: 410px) {
          height: 360px;
          width: 380px;
          margin: 0px 10px;
        }
        img {
          height: 145px;
          width: 145px;
        }
      }
      > img {
        height: 380px;
        width: 400px;
        border-radius: 5px;
        opacity: 0;
        transition: opacity 5s ease-out, transform 5s ease-out;
        @media only screen and (max-width: 410px) {
          height: 340px;
          width: 360px;
          padding: 10px;
        }
      }
    }
    .images-wrapper.visible,
    .cards-wrapper.visible {
      .quality-card,
      > img {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
