header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding: 0 2rem;
    color:var(--textColor);
    position: absolute;
    top: 65px;
    width: 100%;
    z-index: 2;
    min-height: 100px;

    @media only screen and (max-width: 1024px) {
        justify-content: space-between; 
    }
    @media only screen and (min-width: 605px) and (max-width:784px){
        top: 100px;
    }
    @media only screen and (min-width: 499px) and (max-width: 605px){
        top: 45px;
    }
    @media only screen and (min-width: 362px) and (max-width: 498px){
        top: 65px;
    }
    @media only screen and (max-width: 361px){
        top: 100px;
    }

    .logo {
        height: 70px;
        width: 80px;
        opacity:1;
        @media only screen and (max-width: 1024px) {
            height: 65px;
        }
    }
}
nav {
    background: rgba(51, 51, 51, 0.2);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    transition: background 0.5s ease, backdrop-filter 0.5s ease; 
    border-radius: 5px;
}

nav a {
    margin: 0 2rem;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    transition: 0.3s;
    @media only screen and (min-width: 1025px) and (max-width: 1300px) {
        padding: 10px;
    }
    @media only screen and (max-width: 1024px){
        padding: 10px;
    }

}

nav a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background:rgba(255, 255, 255, 0.1);
    color: #000;
    border-radius: 5px;
}


header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    color: black;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
        backdrop-filter: blur(50px); 
        -webkit-backdrop-filter: blur(10px); 
        transition: background 0.5s ease, backdrop-filter 0.5s ease; 
        border-radius: 5px;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 38%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #748088;
        transition: 2s;
        border-radius: none !important;
        z-index: inherit;
        transform: translateY(-100vh);
    }

    header .responsive-nav {
        transform: none;
    }

    nav .nav-btn-close {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
        color: black;
    }
}