.home {
  .section-one {
    padding: 32px 10px 15px 20px;
    background-color: #383e42;

    @media only screen and (min-width: 1400px) {
      display: flex;
      gap: 100px;
      height: 485px;
      padding: 34px 10px 0px 20px;

      &::after {
        content: '';
        background-image: url(../assets//background-models.png);
        width: 100%;
        background-repeat: repeat;
        position: absolute;
        width: 50%;
        height: 37%;
        right: 16px;
        background-size: contain;
      }
    }
    .home-services {
      min-width: fit-content;
    }
    .home-photo {
      img {
        position: relative;
        z-index: 5;
        top: -101px;
        display: none;
        @media only screen and (min-width: 1400px) {
          display: block;
          top: -120px;
          width: 650px;
          border: 10px solid #383e42;
          margin-left: 70px;
          height: 650px;
        }
      }
    }

    img:nth-child(2) {
      width: 50%;
      @media only screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  .section-two {
    margin-top: 60px;
    @media only screen and (min-width: 1400px) {
      margin-top: 100px;
    }
    h1 {
      font-weight: 700;
      text-align: center;
      padding: 0 20px;
      color: white;
    }
  }
}
