.home {
  display: flex;
  gap: 100px;
  height: 750px;
  background-color: #383e42;
  @media only screen and (min-width: 1024px) and (max-width: 1599px) {
    height: 660px;
  }
  @media only screen and (min-width: 1600px) {
    height: 655px;
  }
  &::after {
    content: '';
    background-image: url(../assets//background-models.png);
    width: 100%;
    background-repeat: repeat;
  }
  .home-services {
    @media only screen and (max-width: 1024px) {
      margin: 0 6%;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1164px) {
      margin: 0 8%;
    }
    @media only screen and (min-width: 1165px) and (max-width: 1256px) {
      margin: 0 12%;
    }
    @media only screen and (min-width: 1257px) and (max-width: 1399px){
        margin: 0 16%;
      }
  }
  .home-photo {
    img {
      position: relative;
      z-index: 5;
      top: -101px;
      display: none;
      @media only screen and (min-width: 1400px) {
        display: block;
        top: -32px;
        width: 650px;
        border: 10px solid #383e42;
        margin-left: 70px;
      }
    }
  }

  .services {
    margin: 32px auto;
    width: max-content;

    @media only screen and (min-width: 1600px) {
      min-width: 500px;
    }

    @media only screen and (min-width: 1024px) {
      left: -42%;
    }
  }

  img:nth-child(2) {
    width: 50%;
    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }
}
